@import 'tailwindcss';
/* @import 'tailwindcss/preflight'; */
@tailwind utilities;

:root {
  --background-color: #fff;
  --text-color: #111;
  --form-text-color: #555;
  --footer-text-color: #888;
}
[data-theme='dark'] {
  --background-color: #111;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --gitIcon-text-color: #fff;
  --linkedinIcon-text-color: #fff;
}

[data-theme='dark'] .gitIcon,
.linkedinIcon,
.techIcons {
  color: var(--gitIcon-text-color);
}

.Btn {
  @apply font-bold rounded-2xl w-40 h-12 text-lg shadow-md transition-transform transform hover:scale-105 cursor-pointer active:translate-y-1 mx-auto;
}

[data-theme='dark'] .flip-box-back {
  @apply bg-gray-600/80 before:bg-gray-800/70;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
p,
li {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p,
li {
  font-family: 'Roboto Mono', monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-size: 32px;
  font-family: 'Rubik', 'sans-serif';
}

p,
li {
  font-size: 16px;
  font-weight: 300;
}
